DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=auro_novel
DENEME5=eöyle
DENEME=naber

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auro_novel?schema=public"